@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import "tailwindcss";
@layer theme, base, components, utilities;
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Squada One", sans-serif;
}

:where(.css-dev-only-do-not-override-19lec04).ant-pagination
  .ant-pagination-item-active {
  border: 2px solid #ff914d !important;
}

:where(.css-dev-only-do-not-override-19lec04).ant-pagination
  .ant-pagination-item-active
  a {
  color: #ff914d !important;
}

:where(.ant-select-focused) .ant-select-selector {
  border-color: #ff914d !important;
  box-shadow: 0 0 2px rgba(255, 145, 77, 0.7) !important;
}

:where(.ant-select-dropdown)
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: rgba(255, 145, 77, 0.5) !important;
}

@layer theme {
  .bg-brand-orange {
    background-color: #ff914d;
  }
  .bg-brand-orange-light {
    background-color: rgba(255, 145, 77, 0.2);
  }
  .bg-brand-grandient {
    background: linear-gradient(90deg, #feb78a 0%, #ff914d 100%);
  }
  .shadow-orange-header {
    box-shadow: 0 10px 6px rgba(255, 145, 77, 0.2);
  }
  .shadow-orange-footer {
    box-shadow: 0 -10px 6px rgba(255, 145, 77, 0.2);
  }
  .shadow-brand-orange {
    box-shadow: 0px 0px 10px 5px rgba(255, 145, 77, 0.5);
  }
  .hover\:shadow-brand-orange:hover {
    box-shadow: 0px 0px 10px 5px rgba(255, 145, 77, 0.5);
  }
  .text-gradient-color {
    background: linear-gradient(90deg, #feb78a 0%, #ff914d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hover\:text-gradient-color:hover {
    background: linear-gradient(90deg, #feb78a 0%, #ff914d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
