@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import "tailwindcss";
@layer theme, base, components, utilities;
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Squada One", sans-serif;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Hiệu ứng kính mờ */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6),
    #ff914d,
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8),
    #ff914d,
    rgba(255, 255, 255, 0.8)
  );
  width: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

:where(.css-dev-only-do-not-override-19lec04).ant-pagination
  .ant-pagination-item-active {
  border: 2px solid #ff914d !important;
}

:where(.css-dev-only-do-not-override-19lec04).ant-pagination
  .ant-pagination-item-active
  a {
  color: #ff914d !important;
}

:where(.ant-select-focused) .ant-select-selector {
  border-color: #ff914d !important;
  box-shadow: 0 0 2px rgba(255, 145, 77, 0.7) !important;
}

:where(.ant-select-dropdown)
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: rgba(255, 145, 77, 0.5) !important;
}

@layer theme {
  .bg-brand-orange {
    background-color: #ff914d;
  }
  .bg-brand-orange-light {
    background-color: rgba(255, 145, 77, 0.2);
  }
  .bg-brand-orange-light-1 {
    background-color: rgba(255, 145, 77, 0.1);
  }
  .bg-brand-orange-dark {
    background-color: #d67548;
  }
  .bg-brand-gradient,
  .bg-brand-grandient {
    background: linear-gradient(90deg, #feb78a 0%, #ff914d 100%);
  }
  .border-brand-orange {
    border-color: #ff914d;
  }
  .shadow-orange-header {
    box-shadow: 0 10px 6px rgba(255, 145, 77, 0.2);
  }
  .shadow-orange-footer {
    box-shadow: 0 -10px 6px rgba(255, 145, 77, 0.2);
  }
  .shadow-brand-orange {
    box-shadow: 0px 0px 10px 5px rgba(255, 145, 77, 0.5);
  }
  .hover\:shadow-brand-orange:hover {
    box-shadow: 0px 0px 10px 5px rgba(255, 145, 77, 0.5);
  }
  .text-gradient-color,
  .hover\:text-gradient-color:hover {
    background: linear-gradient(90deg, #feb78a 0%, #ff914d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .box-shadow-brand-orange {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .rbc-calendar {
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .rbc-header {
    background-color: #ff914d;
    color: white;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
  }
  .rbc-time-header {
    background-color: #feb78a;
    color: white;
    font-weight: bold;
  }
  .rbc-event {
    background: linear-gradient(135deg, #ff914d 10%, #feb78a 90%);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .rbc-event-label {
    display: none !important;
  }
  .rbc-today {
    background-color: rgba(255, 145, 77, 0.1) !important;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .glass-effect {
    background: rgba(255, 145, 77, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  @keyframes glowing-border {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0.6);
    }
    25% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
        0 0 30px rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.8);
    }
    50% {
      box-shadow: 0 0 30px rgba(255, 255, 255, 1),
        0 0 40px rgba(255, 255, 255, 0.7);
      border-color: rgba(255, 255, 255, 1);
    }
    75% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
        0 0 30px rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0.6);
    }
  }

  .glow-effect {
    animation: glowing-border 1.5s infinite ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.7);
    /* filter: blur(0.5px); */
  }
}

@layer utilities {
}
